{% extends "registration/base.html" %}
{% load i18n %}

{% block content %}
    <form action="" method="post" class="form-horizontal">
        {% include "registration/form.html" %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                {% trans "Login" %}
            </button>
            <a href="{% url 'auth_password_reset' %}" class="btn btn-default">
                {% trans "Password reset" %}
            </a>
        </div>
    </form>
{% endblock %}


{% block title %}
    {% trans "Sign in" %}
    |
    {{ block.super }}
{% endblock %}
