{% extends "registration/base.html" %}
{% load i18n %}

{% block content %}
    <form action="" method="post" class="form-horizontal">
        {% include "registration/form.html" %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                {% trans "Password reset" %}
            </button>
        </div>
    </form>
{% endblock %}

{% block sidebar %}
    <div class="well">
        <p>{% trans "Type your e-mail address and follow instructions." %}</p>
    </div>
{% endblock %}

{% block title %}
    {% trans "Reset password" %}
    |
    {{ block.super }}
{% endblock %}
