{% extends "base.html" %}
{% load i18n comments %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}

{% block content %}
    <h1>{{ object }}</h1>
    {{ object.body_html|safe }}
    <div class="meta">
        {% trans "Published" %}:
        {{ object.created|date:"DATETIME_FORMAT" }}<br/>
        {% trans "Author" %}:
        {#        <a href="{% url pybb:user object.author.username %}">{{ object.author }}</a><br />#}
        {{ object.author }}<br />
        {% if object.source %}
            {% trans "Source" %}: {{ object.source|urlize }}
        {% endif %}
    </div>

{#    <div id="comments">#}
{#        <h3>{% trans "Comments:" %}</h3>#}
{#        {% render_comment_list for object %}#}
{#        {% render_comment_form for object %}#}
{#    </div>#}
{% endblock %}

{% block sidebar %}
    <h1>{% trans "Control" %}</h1>

    <ul>
        <li>
            <a href="{% url news:create %}">{% trans "Add news" %}</a>
        </li>
        <li>
            <a href="{% url news:update object.pk %}">{% trans "Edit this news" %}</a>
        </li>
        <li>
            <a href="{% url news:delete object.pk %}">{% trans "Delete this news" %}</a>
        </li>
    </ul>

    {{ block.super }}
{% endblock %}
