{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Create news entry" %} - {{ block.super }}{% endblock %}

{% block content %}
    <h1>{% trans "Create news entry" %}</h1>
    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="{% trans "Add news" %}"/></p>
    </form>
{% endblock %}

{% block sidebar %}
    <h1>Помощь</h1>
    <ul>
        <li>
            <a href="http://{{ LANGUAGE_CODE }}.wikipedia.org/wiki/Markdown">{% trans "Markup language" %} &laquo;markdown&raquo;</a>
        </li>
    </ul>
    {{ block.super }}
{% endblock %}
