{% extends "base.html" %}
{% load i18n thumbnail %}

{% block title %}{{object}} - {{block.super}}{% endblock %}

{% block content %}
<h1>{{object}}</h1>
{{object.body_html|safe}}
<div class="meta">
{% trans "Published" %}:
{{object.created|date:"SHORT_DATE_FORMAT"}}
{% trans "Author" %}:
<a href="{% pybb:user object.author.username %}">{{object.author}}</a>
{% if object.source %}
{% trans "Source" %}: <a href="{{object.source}}">{{object.source}}</a>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<h2>{% trans "Control" %}</h2>
{% if perms.news.can_edit %}
<p><a href="{% url news:update object.id %}">{% trans "Update this news" %}</a></p>
{% endif %}
{% endblock %}