Django>=1.11,<2.0
pymysql
redis
django-redis
Pillow==4.3.0
bbcode==1.0.27
boto3
pytils==0.3
python-dateutil==2.6.1
pytz
sorl-thumbnail==12.5.0
django-ajax-selects==1.6.1  # may be buggy
django-bootstrap-form>=3
django-debug-toolbar==1.9.1
django-postman==3.6.0
django-annoying==0.10.3
django-registration-redux==2.0
django-simple-captcha==0.5.6
django-storages==1.6.6
zappa==0.45.1
gunicorn

-e git+https://github.com/hovel/django-pure-pagination.git@1bab7842cd3f50346fe778ae00212718a3863a4e#egg=django_pure_pagination
-e git+https://github.com/hovel/pybbm.git@76efecba261173ac79e63d0a1809ef3ba7fc2af8#egg=pybbm
