{% extends "forum.html" %}
{% load i18n %}

{% block content %}
    {% regroup object_list by category as category_list %}

    {% for category in category_list %}
        <table class="table table-bordered table-striped">
            <tr>
                <th class="forum-name">
                    <a href="{% url pybb:category category.grouper.pk %}">
                        {{ category.grouper }}
                    </a>
                </th>
                <th class="forum-topic-count">
                    {% trans "Topics" %}
                </th>
                <th class="forum-post-count">
                    {% trans "Posts" %}
                </th>
                <th class="forum-last-post">
                    {% trans "Last post" %}
                </th>
            </tr>

            {% for forum in category.list %}
                <tr>
                    <td class="forum-name">
                        <a href="{% url pybb:forum forum.pk %}">
                            {{ forum }}
                        </a>
                    </td>
                    <td class="forum-topic-count">
                        {{ forum.topic_count }}
                    </td>
                    <td class="forum-post-count">
                        {{ forum.post_count }}
                    </td>
                    <td class="forum-last-post">
                        <a href="{% url pybb:post forum.last_post.pk %}">
                            {{ forum.updated|timesince }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
