{% load i18n pybb_tags %}

{% if forum %}
    {% url pybb:add_topic forum.pk as action %}
{% else %}
    {% if topic %}
        {% url pybb:add_post topic.pk as action %}
    {% else %}
        {% url pybb:edit_post pk=object.pk as action %}
    {% endif %}
{% endif %}

<form class="form-horizontal" action="{{ action }}" method="post"
      enctype="multipart/form-data">
    {% include "form.html" %}
    {% include "pybb/attachments_formset.html" %}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            {% trans "Submit" %}
        </button>
    </div>
</form>
