{% extends 'pybb/base.html' %}
{% load pybb_tags i18n thumbnail %}

{% block title %}{{ target_user.username }}{% endblock %}

{% block content %}
    <h1>{{ target_user.username }}</h1>
    <div class="userinfo">
        {% include "pybb/avatar.html" with user=target_user %}
        <div class="info">
            <div class="label">{% trans "Statistics" %}</div>
            <div>
                <a href="{% url user_topics target_user %}">
                    {% trans "Number of topics" %}:
                    {{ topic_count }}
                </a>
            </div>
            <div>
                <a href="{% url user_posts target_user %}">
                    {% trans "Number of posts" %}:
                    {{ target_user.posts.all.count }}
                </a>
            </div>
            <div>
                {% trans "Date of registration" %}:
                {% pybb_time target_user.date_joined %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class='controls'>
        <a href="{% url pybb:edit_profile %}">{% trans 'Edit' %}</a>
        {% if perms.pybb.block_users %}
            <a href='{% url pybb:block_user target_user.username %}'>{% trans 'Block' %}</a>
        {% endif %}
        {% if perms.pybb.can_edit %}
            <a href='{% url admin:profiles_profile_change target_user.get_profile.id %}'>{% trans 'Admin' %}</a>
        {% endif %}
    </div>

{% endblock %}
