{% extends 'pybb/base.html' %}
{% load pybb_tags i18n %}

{% block title %}{{ target }} {% trans "posts" %}{% endblock %}


{% block breadcrumb %}
    {% with extra_crumb=_("posts") %}
        {% include "pybb/breadcrumb.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    {% with _('Posts') as label %}
        <div class="text-center">
            {% include "pure_pagination/pagination-bootstrap.html" with verbose=True %}
        </div>
    {% endwith %}
    <div class="posts">
        {% for post in object_list %}
            {% include "pybb/post_template.html" %}
        {% endfor %}
    </div>
    <div>&nbsp;</div>
    {% with _('Posts') as label %}
        <div class="text-center">
            {% include "pure_pagination/pagination-bootstrap.html" with verbose=True %}
        </div>
    {% endwith %}

{% endblock %}
