{% load i18n comments %}

{% for post in posts %}
<li>
<h2><a href="{% url post:detail post.id %}">{{post}}</a></h2>
{{post.body_html|safe|truncatewords_html:"50"}}


<div class="meta">
{% get_comment_count for post as comment_count %}
{% trans "Posted" %}:
    {{post.created|date:"SHORT_DATETIME_FORMAT"}}

{% trans "Total comments" %}:
    <a href="{% url post:detail post.id %}#comments">{{comment_count}}</a><br />

{% trans "Author" %}:
    <a href="{% pybb:user post.author.username %}">{{post.author}}</a>

{% trans "Blog" %}:
    <a href="{% url blog:detail post.blog.id %}">
    {{post.blog}}</a><br />

{% trans "Tags" %}:
    {% for tag in post.get_tags %}
    <a href="{% url post:tagged tag %}">{{tag}}</a>
    {% if not forloop.last %},{% endif %}
    {% endfor %}
</div>

</li>

{% endfor %}