{% extends "base.html" %}
{% load i18n comments post_tags %}

{% block title %}{{object}} - {{block.super}}{% endblock %}

{% block content %}
<h1 class="title">{{object}}</h1>

{{object.body_html|safe}}

<div class="meta">
{% get_comment_count for object as comment_count %}
{% trans "Posted" %}:
    {{object.created|date:"SHORT_DATETIME_FORMAT"}}

{% trans "Total comments" %}:
    <a href="{% url post:detail object.id %}#comments">{{comment_count}}</a><br />

{% trans "Author" %}:
    <a href="{% url pybb:user object.author.username %}">{{object.author}}</a>

{% trans "Blog" %}:
    <a href="{% url blog:detail object.author.blog.id %}">
    {{object.author.blog}}</a><br />

{% trans "Tags" %}:
    {% for tag in object.get_tags %}
    <a href="{% url post:tagged tag %}">{{tag}}</a>
    {% if not forloop.last %},{% endif %}
    {% endfor %}
</div>

<a name="comments"></a>
<h4>{% trans "Comments" %}:</h4>
{% render_comment_list for object %}

{% if user.is_authenticated %}
    {% if object.enable_comments  %}
        {% render_comment_form for object %}
    {% else %}
        <p>{% trans "Comments disabled." %}</p>
    {% endif %}
{% else %}
    <p>{% trans "Please login or register to post comments." %}</p>
{% endif %}

{% endblock %}


{% block sidebar %}
<h2>{% trans "Control" %}</h2>
<ul>
{% if perms.post.can_manage %}
    <li><a href="{% url post:manage object.id %}">{% trans "Manage post" %}</a></li>
{% else %}
    {%if user.id == object.author.id %}
    <li><a href="{% url post:update object.id %}">{% trans "Update post entry" %}</a></li>
    {% endif %}
{% endif %}
</ul>

<h2>{% trans "Last user posts" %}</h2>
<ul class="last_posts">
{% last_user_posts 5 object.author %}
</ul>

{{block.super}}

{% endblock %}