// CSS Reset
@import "bootstrap/bootstrap";
@import "bootstrap/theme";

@import "metric";
@import "variables_dark";

.gradient(@direction: top, @c1: @gray, @c2: @gray-dark) {
  background-image: -webkit-linear-gradient(@direction, @c1, @c2);
  background-image: -moz-linear-gradient(@direction, @c1, @c2);
  background-image: -ms-linear-gradient(@direction, @c1, @c2);
  background-image: -o-linear-gradient(@direction, @c1, @c2);
  background-image: linear-gradient(@direction, @c1, @c2);
}

.gradient-darken(@direction: top, @c1: @gray, @c2: @gray-dark) {
  background-image: -webkit-linear-gradient(@direction, darken(@c1, 2%), darken(@c2, 2%));
  background-image: -moz-linear-gradient(@direction, darken(@c1, 2%), darken(@c2, 2%));
  background-image: -ms-linear-gradient(@direction, darken(@c1, 2%), darken(@c2, 2%));
  background-image: -o-linear-gradient(@direction, darken(@c1, 2%), darken(@c2, 2%));
  background-image: linear-gradient(@direction, darken(@c1, 2%), darken(@c2, 2%));
}

.gradient-lighten(@direction: top, @c1: @gray, @c2: @gray-dark) {
  background-image: -webkit-linear-gradient(@direction, lighten(@c1, 2%), lighten(@c2, 2%));
  background-image: -moz-linear-gradient(@direction, lighten(@c1, 2%), lighten(@c2, 2%));
  background-image: -ms-linear-gradient(@direction, lighten(@c1, 2%), lighten(@c2, 2%));
  background-image: -o-linear-gradient(@direction, lighten(@c1, 2%), lighten(@c2, 2%));
  background-image: linear-gradient(@direction, lighten(@c1, 2%), lighten(@c2, 2%));
}

.form-search.navbar-form {
  .btn {
    border: 1px solid #666;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  }
}

blockquote {
  background: #39393D;
}

pre {
  color: @aluminium-dark;
  background: #343636;
}

.label,
.badge {
  color: #ddd;
}

.navbar-inner {
  .gradient;
  border-color: @gray;
}

.navbar .nav {
  li a {
    color: @aluminium-dark;
    text-shadow: 0 -1px 0 @gray-dark;
    &:hover {
      color: @aluminium;
    }
  }
  .dropdown-menu a {
    &:hover {
      background: @gray;
    }
  }
  .active {
    background: @gray;
    a {
      color: @aluminium-dark;
      background: @gray;
      &:hover {
        color: @aluminium;
        background: @gray;
      }
    }
  }
}

.breadcrumb {
  color: @aluminium;
  background: @gray;
  li {
    text-shadow: 0 -1px 0 @gray;
  }
  a {
    color: @skyblue-light;
    text-shadow: 0 -1px 0 @gray;
  }
}

.navbar .nav > li > .dropdown-menu::before,
.navbar .nav > li > .dropdown-menu::after {
  border-bottom-color: @gray-light;
}

.dropdown-menu .divider {
  background-color: @gray;
  border-top-color: @gray-dark;
  border-bottom-color: darken(@gray-dark,2%);
}

.form-actions {
  border-color: @gray-light;
}

.head-row, .post-extra-info, .post-date {
  color: @gray-light;
}

.state-indicator, .state-indicator {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 5px 5px 0 0;
  background-color: @gray-light;
  float: left;
}

.forum-unread .state-indicator, .topic-unread .state-indicator {
  background-color: #8cddff;
}

.post-signature {
  color: @aluminium-dark;
  border-top-color: @gray;
}

.post-info, .post thead, .post tfoot, .block .header, .block .info {
  background: darken(@gray-dark, 3%);
}

.post-author {
  font-weight: bold;
}

.post-control a {
  [class^="icon-"], [class*=" icon-"] {
    background-image: url(../img/glyphicons-halflings-white.png);
  }
  &:hover {
    background: @gray;
    opacity: 1;
  }
}

.pagination-xs {
  .pagination-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @border-radius-small);
}

.copyright {
  color: @gray-light;
}

body .markItUp .markItUpButton1 a,
body .markItUp .markItUpButton2 a,
body .markItUp .markItUpButton3 a,
body .markItUp .markItUpButton4 a,
body .markItUp .markItUpButton5 a,
body .markItUp .markItUpButton6 a,
body .markItUp .markItUpButton7 a,
body .markItUp .markItUpButton8 a,
body .markItUp .markItUpButton9 a,
body .markItUp .markItUpButton10 a,
body .markItUp .markItUpButton11 a,
body .markItUp .clean a,
body .markItUp .preview a {
    background-image:url(../img/markitup-dark-buttons.png);
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 6px 3px;
}
body .markItUp .markItUpButton1 a	{
    background-position: 0 0;
}
body .markItUp .markItUpButton2 a	{
    background-position: -16px 0;
}
body .markItUp .markItUpButton3 a	{
    background-position: -32px 0;
}
body .markItUp .markItUpButton4 a	{
    background-position: -48px 0;
}
body .markItUp .markItUpButton5 a	{
    background-position: -64px 0;
}
body .markItUp .markItUpButton6 a	{
    background-position: -80px 0;
}
body .markItUp .markItUpButton7 a	{
    background-position: -96px 0;
}
body .markItUp .markItUpButton8 a	{
    background-position: -112px 0;
}
body .markItUp .markItUpButton9 a	{
    background-position: -128px 0;
}

body .markItUp .markItUpButton10 a	{
    background-position: -144px 0;
}
body .markItUp .markItUpButton11 a	{
    background-position: -160px 0;
    width: 21px;
}
body .markItUp .clean a {
    background-position: -181px 0;
}
body .markItUp .preview a {
    background-position: -197px 0;
    width: 18px;
}
body .markItUpHeader ul .markItUpSeparator {
    margin: 6px;
    background-color: #555;
    color: #555; /* chrome */
}

.glyphicon {
  color: #fff;
}