// CSS Reset
@import "bootstrap/reset";

// Core variables and mixins
@import "bootstrap/variables"; // Modify this for custom colors, font-sizes, etc
@import "variables_dark";
@import "bootstrap/mixins";

// Grid system and page structure
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/layouts";

// Base CSS
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/forms";
@import "bootstrap/tables";

// Components: common
@import "bootstrap/sprites";
@import "bootstrap/dropdowns";
@import "bootstrap/wells";
@import "bootstrap/component-animations";
@import "bootstrap/close";

// Components: Buttons & Alerts
@import "bootstrap/buttons";
@import "bootstrap/button-groups";
@import "bootstrap/alerts"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";

// Components: Popovers
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";

// Components: Misc
@import "bootstrap/thumbnails";
@import "bootstrap/media";
@import "bootstrap/labels-badges";
@import "bootstrap/progress-bars";
@import "bootstrap/accordion";
@import "bootstrap/carousel";
@import "bootstrap/hero-unit";

// Utility classes
@import "bootstrap/utilities"; // Has to be last to override when necessary

@import "metric";

.gradient(@direction: top, @c1: @gray, @c2: @grayDark) {
  background-image: -webkit-linear-gradient(@direction, @c1, @c2);
  background-image: -moz-linear-gradient(@direction, @c1, @c2);
  background-image: -ms-linear-gradient(@direction, @c1, @c2);
  background-image: -o-linear-gradient(@direction, @c1, @c2);
  background-image: linear-gradient(@direction, @c1, @c2);
}

.gradient-darken(@direction: top, @c1: @gray, @c2: @grayDark) {
  background-image: -webkit-linear-gradient(@direction, darken(@c1, 2%), darken(@c2, 2%));
  background-image: -moz-linear-gradient(@direction, darken(@c1, 2%), darken(@c2, 2%));
  background-image: -ms-linear-gradient(@direction, darken(@c1, 2%), darken(@c2, 2%));
  background-image: -o-linear-gradient(@direction, darken(@c1, 2%), darken(@c2, 2%));
  background-image: linear-gradient(@direction, darken(@c1, 2%), darken(@c2, 2%));
}

.gradient-lighten(@direction: top, @c1: @gray, @c2: @grayDark) {
  background-image: -webkit-linear-gradient(@direction, lighten(@c1, 2%), lighten(@c2, 2%));
  background-image: -moz-linear-gradient(@direction, lighten(@c1, 2%), lighten(@c2, 2%));
  background-image: -ms-linear-gradient(@direction, lighten(@c1, 2%), lighten(@c2, 2%));
  background-image: -o-linear-gradient(@direction, lighten(@c1, 2%), lighten(@c2, 2%));
  background-image: linear-gradient(@direction, lighten(@c1, 2%), lighten(@c2, 2%));
}

// Dark gray
.btn {
  .buttonBackground(@btnInverseBackground, @btnInverseBackgroundHighlight);
  color: @aluminium
}
// White
.btn-inverse {
  .buttonBackground(@btnBackground, @btnBackgroundHighlight, @grayDark, 0 1px 1px rgba(255,255,255,.75));
}
// Fix wrong cascade
.btn-warning {
  .buttonBackground(@btnWarningBackground, @btnWarningBackgroundHighlight);
}
.btn-danger {
  .buttonBackground(@btnDangerBackground, @btnDangerBackgroundHighlight);
}
.btn-info {
  .buttonBackground(@btnInfoBackground, @btnInfoBackgroundHighlight);
}

.btn-primary {
  color: @aluminium;
  background-color: @skyblue;
  border-color: @skyblue @skyblue @skyblueDark @skyblue;
  .gradient(top, @skyblue, @skyblueDark);
  &:hover {
    background-position: 0 0;
    .gradient-darken(top, @skyblue, @skyblueDark);
  }
}

.btn-success {
  color: @aluminiumLight;
  background-color: @chameleon;
  border-color: @chameleon @chameleon @chameleonDark @chameleon;
  .gradient(top, @chameleon, @chameleonDark);
  &:hover {
    background-position: 0 0;
    .gradient-darken(top, @chameleon, @chameleonDark);
  }
}

.form-search.navbar-form {
  .btn {
    border: 1px solid #666;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  }
}

blockquote {
  background: #39393D;
}

pre {
  color: @aluminiumDark;
  background: #343636;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: #ddd;
  border: 1px solid #666;
}

.label,
.badge {
  color: #ddd;
}

.navbar-inner {
  .gradient;
  border-color: @gray;
}

.navbar .nav {
  li a {
    color: @aluminiumDark;
    text-shadow: 0 -1px 0 @grayDark;
    &:hover {
      color: @aluminium;
    }
  }
  .dropdown-menu a {
    &:hover {
      background: @gray;
    }
  }
  .active {
    background: @gray;
    a {
      color: @aluminiumDark;
      background: @gray;
      &:hover {
        color: @aluminium;
        background: @gray;
      }
    }
  }
}

.breadcrumb {
  color: @aluminium;
  background: @gray;
  li {
    text-shadow: 0 -1px 0 @gray;
  }
  a {
    color: @skyblueLight;
    text-shadow: 0 -1px 0 @gray;
  }
}

.navbar .nav > li > .dropdown-menu::before,
.navbar .nav > li > .dropdown-menu::after {
  border-bottom-color: @grayLight;
}

.dropdown-menu .divider {
  background-color: @gray;
  border-top-color: @grayDark;
  border-bottom-color: darken(@grayDark,2%);
}

.form-actions {
  border-color: @grayLight;
}

.head-row, .post-extra-info, .post-date {
  color: @grayLight;
}

.state-indicator, .state-indicator {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 5px 5px 0 0;
  background-color: @grayLight;
  float: left;
}

.forum-unread .state-indicator, .topic-unread .state-indicator {
  background-color: #8cddff;
}

.post-signature {
  color: @aluminiumDark;
  border-top-color: @gray;
}

.post-info, .block .header, .block .info {
  background: darken(@grayDark, 3%);
}

.post thead th,
.post thead td {
  background: darken(@grayDark, 3%);
}

.post-author {
  font-weight: bold;
}

.post-control a {
  [class^="icon-"], [class*=" icon-"] {
    background-image: url(../img/glyphicons-halflings-white.png);
  }
  &:hover {
    background: @gray;
    opacity: 1;
  }
}

.pagination ul > li > a, .pagination ul > li > span {
  &:hover {
    background: @gray;
  }
}

.copyright {
  color: @grayLight;
}

body .markItUp .markItUpButton1 a,
body .markItUp .markItUpButton2 a,
body .markItUp .markItUpButton3 a,
body .markItUp .markItUpButton4 a,
body .markItUp .markItUpButton5 a,
body .markItUp .markItUpButton6 a,
body .markItUp .markItUpButton7 a,
body .markItUp .markItUpButton8 a,
body .markItUp .markItUpButton9 a,
body .markItUp .markItUpButton10 a,
body .markItUp .markItUpButton11 a,
body .markItUp .clean a,
body .markItUp .preview a {
    background-image:url(../img/markitup-dark-buttons.png);
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 6px 3px;
}
body .markItUp .markItUpButton1 a	{
    background-position: 0 0;
}
body .markItUp .markItUpButton2 a	{
    background-position: -16px 0;
}
body .markItUp .markItUpButton3 a	{
    background-position: -32px 0;
}
body .markItUp .markItUpButton4 a	{
    background-position: -48px 0;
}
body .markItUp .markItUpButton5 a	{
    background-position: -64px 0;
}
body .markItUp .markItUpButton6 a	{
    background-position: -80px 0;
}
body .markItUp .markItUpButton7 a	{
    background-position: -96px 0;
}
body .markItUp .markItUpButton8 a	{
    background-position: -112px 0;
}
body .markItUp .markItUpButton9 a	{
    background-position: -128px 0;
}

body .markItUp .markItUpButton10 a	{
    background-position: -144px 0;
}
body .markItUp .markItUpButton11 a	{
    background-position: -160px 0;
    width: 21px;
}
body .markItUp .clean a {
    background-position: -181px 0;
}
body .markItUp .preview a {
    background-position: -197px 0;
    width: 18px;
}
body .markItUpHeader ul .markItUpSeparator {
    margin: 6px;
    background-color: #555;
    color: #555; /* chrome */
}