@padding-base-vertical: 4px;
@navbar-height: 40px;
@blockquote-font-size: @font-size-base;
@jumbotron-font-size: ceil(@font-size-base * 1.25);
@jumbotron-padding: 20px;

@media (max-width: @grid-float-breakpoint) {
    .navbar {
        .nav > li {
            display: inline-block;
        }
    }

    .navbar-brand {
        float: none;
        display: block;
        height: auto;
        padding: @navbar-padding-vertical 0 0 0;
    }
}

/* [1- for development */
body {
  overflow-y: scroll;
}
/* -1] */

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

blockquote {
  border-left: 3px solid #dbd8ba;
  border-radius: 3px;
  padding: 10px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1230px;
}

.navbar-inner {
  border-radius: 0;
}

.category h1 {
  font-size: 1.2em;
  font-weight: 400;
  border-radius: 5px;
}

th.forum-topic-count, th.forum-post-count, th.topic-post-count, th.topic-view-count {
  text-align: center;
}

td.topic-name {
  line-height: 16px;
}

.topic-name-header {
    display: inline-block;
    line-height: 22px;
    margin: 0 4px 3px 0;
}

td.forum-topic-count, td.forum-post-count, td.topic-post-count, td.topic-view-count {
  font-size: .8em;
  text-align: center;
  width: 10%;
}

td.forum-last-post, td.topic-last-post {
  font-size: .8em;
  width: 25%;
}

.forum h1 {
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 5px;
}

.forum-description {
  font-size: .8em;
}

.forum-unread a, .topic-unread a {
  font-weight: bold;
}

.post-info {
  font-size: .8em;
  width: 150px;
}

.post-extra-info {
  font-size: .8em;
}

.post-signature {
  font-size: .8em;
  border-top: 1px dashed;
  padding-top: 10px;
  margin-top: 10px;
  max-height: 40px;
  overflow: auto;
}

.post-date {
  font-size: .8em;
}

.post-content {
  max-width: 1033px;
  word-wrap: break-word;
}

.post-control {
  float: right;
}

.post-control-delete {
  margin-right: 24px;
}

.post-control a {
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 12px;
}

.controls.btn-group {
  margin-bottom: 20px;
}

.block {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin: 0 0 20px 0;
  padding: 10px;
}

.block .header {
  font-weight: bold;
  border-radius: 4px 4px 0 0;
  line-height: 1.5em;
  margin: -10px -10px 10px;
  padding: 10px;
}

.block .info {
  border-radius: 0 0 4px 4px;
  margin: 20px -10px -10px -10px;
  padding: 10px;
}

.pagination {
  text-align: center;
}

.pagination-xs {
  .pagination-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @border-radius-small);
}

.inline-pagination {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.footer {
  padding: 30px 10px;
  margin: 0 0 30px 0;
}

label.checkbox ul, label.radio ul {
  list-style: none;
}

.poll-answer-form .control-group {
  display: inline-block;
  width: 400px;
}

.topic-list, .category-table {
  .table-bordered;
  .table-striped;

  .forum-topic-count, .forum-post-count, .forum-last-post,
  .topic-post-count, .topic-view-count, .topic-last-post {
    vertical-align: middle;
  }
}

.topic-meta {
  font-size: .8em;
}

.code pre, pre code {
  display: block;
  max-height: 300px;
  overflow-y: auto;
}

label[for="id_avatar"] + div > a:after {
  content: '';
  display: block;
}
label[for="avatar-clear_id"] {
  display: inline-block;
  margin-bottom: 1em;
  vertical-align: middle;
}
#avatar-clear_id {
  margin-bottom: 1em;
}
.pm_message {
    margin-bottom: 10px;
}
.pm_header {
    font-weight: bold;
}
#postman textarea {
  width: 100%;
}
.breadcrumb .divider {
  display: none;
}
.btn-logout {
  background: inherit; padding: 0; width: 100%; text-align: left;
}

.navbar-form {
  width: 300px !important;
}
