@import "bootstrap/variables";

@chameleonLight: #8ae234;
@chameleon: #73d216;
@chameleonDark: #4e9a06;

@skyblueLight: #729fcf;
@skyblue: #3465a4;
@skyblueDark: #204a87;

@aluminiumLight: #eeeeec;
@aluminium: #d3d7cf;
@aluminiumDark: #babdb6;

@linkColor: #8cddff;
@linkColorHover: #8cddff;

@tableBackgroundAccent: darken(@grayDark, 2%);
@tableBorder: @gray;

@textColor: @aluminiumDark;
@bodyBackground: @grayDark;
@heroUnitBackground: @gray;
@inputBackground: @aluminiumLight;
@navbarLinkBackgroundActive: @gray;
@dropdownBorder: @gray;
@dropdownBackground: @grayDark;
@navbarLinkColorActive: @aluminium;
@formActionsBackground: @gray;
@paginationBorder: @gray;
@paginationBackground: @grayDark;

@sansFontFamily: sans-serif;
@serifFontFamily: serif;
@monoFontFamily: monospace;