{% extends "news/base.html" %}
{% load i18n %}

{% block content %}
    <form action="." method="post" class="form-horizontal">
        <legend>
            {% if object %}
                {% trans "Update news" %}
            {% else %}
                {% trans "Create news" %}
            {% endif %}
        </legend>
        {% include "form.html" %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}


{% block sidebar %}
    {% if object %}
        {% include "news/menu.html" with menu_update="active" %}
    {% else %}
        {% include "news/menu.html" with menu_create="active" %}
    {% endif %}
{% endblock %}


{% block title %}
    {% if object %}
        {% trans "Update news" %}
    {% else %}
        {% trans "Create news" %}
    {% endif %}
{% endblock %}
