{% extends "news/base.html" %}
{% load i18n %}

{% block content %}
    <div class="alert alert-danger">
        <h1>{% blocktrans %}Are you sure you want to delete
            '{{ object }}'?{% endblocktrans %}</h1>
    </div>
    <form action="." method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-actions">
            <a href="{% url news:detail object.pk %}" class="btn btn-success">
                {% trans "No, thanks!" %}
            </a>
            <button type="submit" class="btn btn-danger">
                {% trans "Delete" %}
            </button>
        </div>
    </form>
{% endblock %}


{% block sidebar %}
    {% include "news/menu.html" with menu_delete="active" %}
{% endblock %}


{% block title %}
    {% trans "Remove this news" %}
{% endblock %}
