@butterLight: #fce94f;
@butter: #edd400;
@butterDark: #c4a000;

@orangeLight: #fcaf3e;
@orange: #f67900;
@orangeDark: #ce5c00;

@chocolateLight: #e9b96e;
@chocolate: #c17d11;
@chocolateDark: #8f5902;

@chameleonLight: #8ae234;
@chameleon: #73d216;
@chameleonDark: #4e9a06;

@skyblueLight: #729fcf;
@skyblue: #3465a4;
@skyblueDark: #204a87;

@plumLight: #ad7fa8;
@plum: #75507b;
@plumDark: #5c3566;

@scarletredLight: #ef2929;
@scarletred: #cc0000;
@scarletredDark: #a40000;

@aluminiumLight: #eeeeec;
@aluminium: #d3d7cf;
@aluminiumDark: #babdb6;

@grayLight: #888a85;
@gray: #555753;
@grayDark: #2e3436;


a {
    color: #07b;
}

blockquote {
    background: #f5f2d0;
    border-left: 3px solid #dbd8ba;
}

.category h1 {
    color: #08c;
    background: #f5f5f5;
}

.forum h1 {
    color: #08c;
    background: #f5f5f5;
}

.forum-description {
    color: #777;
}

.head-row {
    color: #777;
}

.forum-unread a {
    color: #08c;
    font-weight: bold;
}

.odd {
    background: #fafafa;
}

.topic-unread a {
    font-weight: bold;
}

.post-info {
    background: #fdfdfd;
}

.post-extra-info {
    color: #999;
}

.post-signature {
    color: #bbb;
    border-top: 1px dashed #ddd;
}

.post-form input[type="text"], .post-form input[type="password"],
.post-form textarea {
    width: 100%;
}

.post thead {
    background: #f5f5f5;
}

.post tfoot {
    background: #fcfcfc;
}

.post-author {
    font-weight: bold;
}

.post-info {
  color: @grayLight;
}

.post-date {
    color: #999;
}

.post-control a:hover {
    background: #eaeaea;
}

.block {
    border-color: #ddd;
}

.block .header {
    background: #f5f5f5;
}

.block .header a:visited {
    color: #70a0ba;
}

.block .info {
    color: #999;
    background: #f5f5f5;
}

.comment {
    border: 1px solid #d4d4d4;
}

.copyright {
    color: #a2a2a2;
}

@import "metric";