body {
    margin-top: 60px;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

.post-info {
    width: 150px;
}

.forum-topic-count, .forum-post-count {
    text-align: center;
    width: 100px;
}

.forum-last-post {
    width: 200px;
}

.post-form {
    width: 50%;
    margin: auto;
}

.post-form input[type="text"], .post-form input[type="password"],
.post-form textarea {
    width: 100%;
}
