{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"ru" }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            {% trans "Arch Linux Russian Community" %}
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/'|add:AOR_THEME|add:'' %}">
    {% block css %}{% endblock %}
    {% block extra_style %}{% endblock %}
    <script type="text/javascript" src="{% static 'jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pybb/js/pybbjs.js' %}"></script>
    {% block js %}{% endblock %}
    {% block extra_head %}{% endblock %}
    {% block extra_script %}{% endblock %}
</head>
<body>

<nav class="navbar {% if AOR_THEME == 'dark.css' %}navbar-inverse{% else %}navbar-default{% endif %}" role="navigation">
    <div class="container-fluid wrapper">
        {% block menu %}
            {% include 'menu.html' %}
        {% endblock %}
    </div>
</nav>

{% if user.is_authenticated and postman_unread_count %}
  <script type="text/javascript">
    if (document.URL.search('messages') == -1)
      $(window).load(function(){
        $('#new_pm_notify').modal('show');
      });
  </script>
{% endif %}

<div class="modal fade" id='new_pm_notify' role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content {% if AOR_THEME == 'dark.css' %}navbar-inverse{% else %}navbar-default{% endif %}">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">{% trans "New pesonal messages" %}</h4>
      </div>
      <div class="modal-body">
        <a href="{% url 'postman:inbox' %}" class="center-block btn btn-primary">{% trans "Go to inbox" %} <span class="badge">{{ postman_unread_count }}</span></a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid wrapper">
    <div class="row">
        <div class="col-md-12">
            {% block breadcrumb %}
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% block main %}
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 footer">
            {% block footer %}
                <p class="copyright">&copy; 2006-{% now "Y" %}, Русскоязычное сообщество
                    Arch Linux.<br>Название и логотип Arch Linux &trade;
                    являются признанными торговыми
                    марками.<br>Linux &reg; &mdash; зарегистрированная торговая
                    марка Linus Torvalds и LMI.</p>
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>
