{% load field_attributes %}

<div class="control-group
    {% if field.is_required %}required{% endif %}
    {% if field.errors %}error{% endif %}">

    {% if field|is_widget:"CheckboxInput" %}
        {% if not hide_labels or hide_labels == 0 %}
            <label class="control-label" for="{{ field.auto_id }}">
                {{ field.field.label }}
            </label>
        {% endif %}
        <div class="controls">
            {% field field placeholder=field.help_text %}
            {% for error in field.errors %}
                <span class="help-inline">{{ field.errors }}</span>
            {% endfor %}
        </div>
    {% elif field|is_widget:"CheckboxSelectMultiple,CheckboxSelect" %}
        {% for choice in field.field.choices %}
            <label class="checkbox">
                <input type="checkbox" {% if choice.0 in field.value or choice.0 == field.value %}checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0 }}">{{ choice.1 }}
            </label>
        {% endfor %}
    {% elif field|is_widget:"RadioSelect" %}
        {% for choice in field.field.choices %}
            <label class="radio">
                <input type="radio" {% if choice.0 == field.value %}checked="checked" {% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0 }}">{{ choice.1 }}
            </label>
        {% endfor %}
    {% else %}
        {% if not hide_labels or hide_labels == 0 %}
            <label class="control-label" for="{{ field.auto_id }}">
                {{ field.field.label }}
            </label>
        {% endif %}
        <div class="controls">
            {% field field class="span12" placeholder=field.help_text %}
            {% for error in field.errors %}
                <span class="help-inline">{{ field.errors }}</span>
            {% endfor %}
        </div>
    {% endif %}
</div>