{% load field_attributes %}

<div class="control-group
    {% if field.is_required %}required{% endif %}
    {% if field.errors %}error{% endif %}">

    {% if field|is_widget:"CheckboxInput,CheckboxSelectMultiple,CheckboxSelect" %}
        <div class="controls">
            <label class="checkbox">
                {{ field }}
                {% if not hide_labels or hide_labels == 0 %}
                    {{ field.field.label }}
                {% endif %}
            </label>
        </div>
    {% elif field|is_widget:"RadioSelect" %}
        <div class="controls">
            <label class="radio">
                {{ field }}
                {% if not hide_labels or hide_labels == 0 %}
                    {{ field.field.label }}
                {% endif %}
            </label>
        </div>
    {% else %}
        {% if not hide_labels or hide_labels == 0 %}
            <label class="control-label" for="{{ field.auto_id }}">
                {{ field.field.label }}
            </label>
        {% endif %}
        <div class="controls">
            {% field field class="span12" placeholder=field.help_text required=False %}
            {% for error in field.errors %}
                <span class="help-inline">{{ field.errors }}</span>
            {% endfor %}
        </div>
    {% endif %}
</div>