{% extends "base.html" %}
{% load pybb_news pybb_blogs i18n aor_tags %}

{% block main %}
    {% if not user.is_authenticated %}
        <div class="jumbotron">
            <p>Arch Linux™ - гибкий и простой дистрибутив,
                разработанный для удовлетворения нужд опытных
                пользователей Linux. Он является одновременно мощным и
                простым в управлении, что делает его идеальным
                дистрибутивом для серверов и рабочих станций.</p>

            <p>Развивайте систему на базе Arch в любом нужном
                направлении: если вы разделяете данный взгляд на то,
                каким должен быть дистрибутив GNU/Linux®, тогда добро
                пожаловать в сообщество Arch Linux!</p>

            <div class="controls clearfix">
                <div class="pull-right">
                    <a href="{% url 'registration_register' %}" class="btn btn-primary">
                        {% trans "Join us" %}
                    </a>
                    <a href="{% url 'auth_login' %}" class="btn btn-success">
                        {% trans "Login" %}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 block">
                        <h6><a href="{% url 'news:list' %}">{% trans "News" %}</a></h6>
                        {% last_news %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 block">
                        <h6><a href="{% url 'blogs:list' %}">{% trans "Blogs" %}</a> </h6>
                        {% last_blogs %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 block">
                        <h6><a href="{% url 'pybb:topic_latest' %}">{% trans "Last topics" %}</a></h6>
                        {% last_topics %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
