{% load i18n %}
<ul class="nav">
    <li>
        <a class="brand" href="/" style="vertical-align: bottom">
            <img src="{{ STATIC_URL }}logo.png" alt=""
                 style="opacity: .7; vertical-align: top">
        </a>
    </li>
    <li class="{{ menu_news }}">
        <a href="{% url news:list %}">
            {% trans "News" %}
        </a>
    </li>
    <li class="{{ menu_forum }}">
        <a href="{% url pybb:index %}">
            {% trans "Forum" %}
        </a>
    </li>
    <li class="{{ menu_blogs }}">
        <a href="{% url blogs:list %}">
            {% trans "Blogs" %}
        </a>
    </li>
    <li>
        <a href="https://wiki.archlinux.org/">
            {% trans "Wiki" %}
        </a>
    </li>
    <li>
        <a href="https://archlinux.org/download/">
            {% trans "Download" %}
        </a>
    </li>
</ul>

<ul class="nav pull-right">
    <li class="dropdown">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown"
           href="#">
            {% if user.is_authenticated %}
                {{ user }}
            {% else %}
                {% trans "Profile" %}
            {% endif %}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            {% if user.is_authenticated %}
                <li>
                    <a href="{{ user.get_profile.get_absolute_url }}">
                        {% trans "Profile" %}
                    </a>
                </li>
                <li>
                    <a href="{% url auth_password_change %}">
                        {% trans "Password change" %}
                    </a>
                </li>
                {% if user.is_staff %}
                    <li class="divider"></li>
                    <li class="{{ menu_admin }}">
                        <a href="{% url admin:index %}">
                            {% trans "Admin" %}
                        </a>
                    </li>
                {% endif %}
                <li class="divider"></li>
                <li>
                    <a href="{% url auth_logout %}">
                        {% trans "Logout" %}
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url auth_login %}">
                        {% trans "Login" %}
                    </a>
                </li>
                <li>
                    <a href="{% url registration_register %}">
                        {% trans "Registration" %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </li>
</ul>
